<h4>Семантическая разметка</h4>
<p>
  Используйте в разметке семантические теги HTML.
</p>
<p>
  Параграфы текста помещайте в тег <code>&lt;p&gt;</code>. Не создавайте для отступов между текстовыми блоками много тегов <code>br</code>.
</p>
