<h4>Семантическая разметка</h4>
<p>
  Используйте в разметке семантические теги HTML.
</p>
<p>
  Параграфы текста помещайте в тег <code>&lt;p&gt;</code>. Не применяйте не по назначению тег <code>br</code>.
</p>
