@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  src:local("PT Sans"),
      local("PTSans-Regular"),
      resolve("PT_Sans-Web-Regular.ttf") format("truetype");
}

html {
  font-size: var(--base-px-size);
}

@media (--viewport-large) {
  html {
    font-size: var(--large-px-size);
  }
}

body {
  margin: 0;
  background-color: var(--light-color);
  color: var(--dark-color);
  font: 1rem/1.5 "PT Sans", sans-serif;
}

main {
  a:any-link {
    color: var(--dark-color);
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--darker-color);
  letter-spacing: -0.025em;
  font-weight: normal;
}

h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}

code,
pre {
  font-family: "PT Mono", Menlo, "Courier New", monospace;
  font-size: 95%;
}

code {
  padding: 2px 4px;
  font-size: 85%;
  color: #d44950;
  background-color: #f7f7f9;
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

ul li {
  margin-bottom: 0.25rem;
}

/* override default Prism theme*/
code[class*="language-"], pre[class*="language-"] {
  white-space: pre-wrap;
}

pre[class*="language-"] {
  margin: 0;
  padding: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: initial;
}
