.masthead {
  padding: 3rem 1rem 6rem;
  background-color: var(--brand-color);
  text-align: center;
}
.masthead h1 {
  margin: 1rem 0 0.25rem;
  color: var(--light-color);
}
@media (min-width: 38em) {
  .masthead {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
}
