@import "normalize.css";
@import "variables.css";
@import "prismjs-default-theme/prism-default.css";

body {
  background-color: var(--bgcolor);
  color: var(--color);
}

main {
  & :any-link {
    color: var(--color);
    text-decoration: underline;
  }
}
