<h3>Медиа-выражения</h3>
<p>
  Помещайте медиа-выражения рядом с соответствующими наборами правил. Не объединяйте их в отдельную таблицу стилей. Не помещайте их в конце файла. Их должно быть просто найти.
</p>
