<h3>Сокращенная запись</h3>
<p>Старайтесь не использовать сокращенные объявления в тех случаях, когда это может косвенно переопределить другие значения. Наиболее часто злоупотребляют сокращением следующих свойств:
  </p>
<ul>
  <li><code>padding</code></li>
  <li><code>margin</code></li>
  <li><code>font</code></li>
  <li><code>background</code></li>
  <li><code>border</code></li>
  <li><code>border-radius</code></li>
</ul>
<p>Чрезмерное использование сокращенной записи свойств часто приводит к грязному коду с ненужными переопределения и непреднамеренными побочными эффектами.</p>
