<h3>Имена классов</h3>
<ul>
  <li>Записывайте имена классов строчными буквами и используйте дефис (но не знаки нижнего подчеркивания или camelCase). Дефисы служат разделителями во взаимосвязанных классах (например, <code>.btn</code> и <code>.btn-danger</code>).</li>
  <li>Избегайте чрезмерные и произвольные сокращения. Например, имя <code>.btn</code> подойдет для <code>button</code>, а имя <code>.s</code> не означает ничего.</li>
  <li>Придерживайтесь коротких и ёмких имен классов настолько, насколько это возможно.</li>
  <li>Используйте осмысленные имена: давайте структурные или содержательные имена вместо презентационных.</li>
  <li>Не используйте <code>id</code> для стилизации. Вместо идентификаторов для задания стилей используйте селекторы по классам или тегам.</li>
  <li>Для написания классов используйте английские слова и термины. Не пишите названия классов и атрибутов транслитом.</li>
</ul>
