<h3>Порядок свойств CSS</h3>
<p>
  Объявления логически связанных свойств группируйте в следующем порядке:
</p>
<ol>
  <li>Позиционирование</li>
  <li>Блочная модель</li>
  <li>Типографика</li>
  <li>Отображение</li>
</ol>
<p>
  Позиционирование следует первым потому, что оно влияет на положение блоков в потоке документа. Блочная модель идет следующей, так как она определяет размеры и расположение блоков.
</p>
<p>
  Все остальные объявления, которые изменяют вид внутренних частей блоков и не оказывают влияния на другие блоки, идут в последнюю очередь.
</p>
