<h3>Вложенность селекторов</h3>
<p>Длинные цепочки вложенных селекторов усложняют код и его поддержку. Хорошим подходом считается использовать вложенность 2 или 3 уровня. Селекторы с вложенностью не более 2 — это наш маленький, но важный каприз.
  </p>
<p>Псевдоэлементы или псевдоклассы не увеличивают уровень вложенности.</p>
