<h3>Варианты шрифта</h3>
<p>
  Указывайте альтернативные варианты шрифта и тип семейства в конце перечисления <code>font-family</code>.
</p>
<p>
  Альтернативный веб-безопасный шрифт и тип семейства необходимо указывать для того, чтобы в случае отсутствия основного шрифта, изменения внешнего вида шрифтов на странице были минимальны. Альтернативный шрифт должен быть такого же типа, что и основной.
</p>

<p>Порядок шрифтов следующий: 1. основной шрифт 2. веб-безопасный 3. тип шрифта</p>

<p>Список веб-безопасных шрифтов можно посмотреть здесь: <a href="http://www.cssfontstack.com/">http://www.cssfontstack.com/</a>.</p>
</p>
