<h3>Синтаксис</h3>
<ul>
  <li>После значения свойства обязательно ставьте точку с запятой.</li>
  <li>Для отступов внутри правил используйте два пробела. Для правильного форматирования используйте файл <a href="{{resolve 'editorconfig.zip'}}">.editorconfig</a> в вашем редакторе кода.</li>
  <li>Шестнадцатиричное значение цвета пишите полностью из всех шести символов, не сокращайте. Для записи используйте строчные буквы. Например, <code>#f5f5f5</code>.</li>
  <li>Названия тегов и свойств в правилах пишите строчными буквами.</li>
  <li>Не сокращайте начальный ноль для значений (например, <code>.5</code> вместо <code>0.5</code>). С нулём значение проще считывается.</li>
  <li>Во всех случая в CSS используйте двойные кавычки, а не одинарные. Не опускайте кавычки в необязательных случаях.</li>
  <li>После двоеточия в правилах ставьте один пробел (<code>top: 10px;</code>). А перед двоеточием пробел не нужен.</li>
  <li>Не оставляйте пробелов после запятых внтури значений <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code> или <code>rect()</code>. Это помогает различать различные цветовые значения (запятая без пробела) от нескольких значений одного свойства (запятая с пробелом).</li>
  <li>До и после комбинатора между селекторами (например, <code>p &gt; a</code>) ставьте один пробел.</li>
  <li>Каждое объявление в правиле пишите на новой строке.</li>
  <li>Перед открывающейся фигурной скобкой ставьте один пробел. После скобки начинайте писать с новой строки:
<pre class="language-css"><code>.selector {
  color: #f5f5f5;
}
</code></pre></li>
  <li>После запятой между селекторами ставьте один пробел, до запятой пробел не нужен: <code>.selector-1, .selector-2 {</code>.</li>
  <li>Закрывающую фигурную скобку пишите на новой строке и без отступа.</li>
  <li>Не пишите единицы измерения, там где в них нет необходимости. Например, <code>border: 0</code>.</li>
  <li>Для автоматического применения этих правил используйте файл конфигурации <a href="{{resolve 'csscomb.zip'}}">.csscomb.json</a> для настройки CSScomb.</li>
</ul>
