<h3>Селекторы</h3>
<ul>
  <li>Выбирайте селектором в точности те элементы, что нужно. Не полагайтесь на совпадение или случайность.</li>
  <li>Пишите такие селекторы, чтобы их можно было переиспользовать в дальнейшем. Не создавайте селекторы с излишней вложенностью или цепочки селекторов — это увеличивает специфичность правил и уменьшает возможность их переиспользования. Также длинные цепочки вложенных селекторов усложняют код и его поддержку. Хорошим подходом считается использовать вложенность до 2 или 3 уровня. Псевдоэлементы или псевдоклассы не увеличивают уровень вложенности.</li>
  <li>Не используйте <code>id</code> для стилизации. Вместо идентификаторов для задания стилей используйте селекторы по классам или тегам.</li>
</ul>
