<h3>Не используйте <code>@import</code></h3>
<p>По сравнению с тегом <code>&lt;link&gt;</code> правило <code>@import</code> медленнее, создает дополнительные запросы и может вызвать иные непредвиденные проблемы. Избегайте это правило.</p>
