<h3>Не используйте <code>@import</code></h3>
<p>По сравнению с тегом <code>&lt;link&gt;</code> правило <code>@import</code> медленнее и вызывает дополнительные запросы к серверу. Не используйте <code>@import</code>.</p>
