<h3>Указывайте <code>vertical-align</code></h3>
<p>Явно указано подходящее <code>vertical-align</code> для потоковых блоков с <code>display: inline-block</code>. </p>
<p>По умолчанию элементы <code>inline-block</code> имеют выравнивание <code>baseline</code>, которое может приводить к нежелательному поведению элементов, например, когда внутри них разное количество строк.</p>

<p>Поэтому нужно явно и осознанно задавать выравнивание таким элементам.</p>

<p>Например, если вы хотите, чтобы элементы вели себя как текст, стоит явно указать значение <code>baseline</code>, такое указание позволит другим понять, что вы знаете об особенностях поведения элементов с этим выравниванием и задали его намеренно.</p>
