<h3>Свойства с префиксами</h3>
<p>
Когда вы используете свойства с вендорными префиксами, оставляйте отступы для каждого свойства так, чтобы значения объявлений выстраивались в вертикальную линию. Это упрощает многострочное редактирование.
</p>
<p>
  В списке свойств с префиксами указывайте вариант без префикса последним.
</p>
<p>
  По возможности автоматизируйте работу с префиксами. Например, с помощью плагина <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>.
</p>
