<h3>Количество CSS-файлов</h3>
<p>
  Минимизируйте количество CSS-файлов, подключенных к странице. Меньшее количество запросов к серверу улучшит быстродействие страницы.
</p>
<p>
  Все стили страниц должны находится в едином файле.
</p>
