<h3>HTML5 doctype</h3>
<p>В начале страницы обязательно нужно указывать актуальный
  <code>doctype</code>, чтобы браузер отображал её в режиме соответсвия стандартам. Это гарантирует, что страница будет выглядеть единообразно во всех современных браузерах.</p>
