<h3>Синтаксис</h3>
<ul>
  <li>Для отступов у вложенных элементов используйте два пробела. Ширина табов может быть различной в разных редакторах и системах, в то время как пробел везде один и тот же.</li>
  <li>У атрибутов HTML-элементов используйте двойные кавычки.</li>
  <li>Не используйте необязательный закрывающий слеш у одиночных тегов (
    <code>&lt;img&gt;</code>,
    <code>&lt;br&gt;</code> и другие).</li>
  <li>Не пропускайте необязательные закрывающие теги (например,
    <code>&lt;/li&gt;</code> или
    <code>&lt;/body&gt;</code>).</li>
</ul>
