<h3>Подписи полей ввода</h3>
<p>
  Для улучшения взаимодействия пользователя с элементами форм, при нажатии на подпись поля, оно должно активироваться. Для этого связывайте элемент формы с его описанием, используя тег <code>&lt;label&gt;</code> и идентификаторы.
</p>
