<h3>Порядок следования атрибутов</h3>
<p>
  Для удобочитаемости атрибуты HTML-элементов нужно расставлять в следующем порядке:
</p>
<ul>
  <li>
    <code>class</code>
  </li>
  <li>
    <code>id</code>,
    <code>name</code>
  </li>
  <li>
    <code>data-*</code>
  </li>
  <li>
    <code>src</code>,
    <code>for</code>,
    <code>type</code>,
    <code>href</code>,
    <code>value</code>
  </li>
  <li>
    <code>title</code>,
    <code>alt</code>
  </li>
  <li>
    <code>aria-*</code>,
    <code>role</code>
  </li>
</ul>
<p>
  Атрибуты идут в примерном порядке уменьшения «важности» при чтении: например, классы применяются для описания компонентов и прежде всего они могут меняться у элементов, поэтому следуют первыми в списке.
</p>
