<h3>Протокол ресурса</h3>
<p>
  При запросе файла через полный URL часть с протоколом (<code>http:</code>, <code>https:</code>) из адреса можно исключить.
</p>
<p>
  Это сделает URL относительным и немного уменьшит размер файлов.
</p>
