<h3>Кнопки в форме</h3>
<p>
  Кнопкам в форме всегда задавайте правильный тип. Главным кнопка задавайте тип
  <code>type="submit"</code>, а обычным – <code>type="button"</code>.
</p>
<p>
  Главные кнпки помещайте первыми в разметке.
</p>
