<h3>Атрибуты при подключении CSS- и JavaScript-файлов</h3>
<p>
  При использовании тегов <code>&lt;link&gt;</code>, <code>&lt;style&gt;</code> и <code>&lt;script&gt;</code> для подключения стилей и скриптов не обязательно указывать атрибут <code>type</code>, так его значения <code>text/css</code> и <code>text/javascript</code> указываются соответствующим файлам по умолчанию.
</p>
