<h3>Количество CSS-файлов</h3>
<p>
  Минимизируйте количество CSS-файлов, подключенных к странице. Меньшее количество запросов к серверу улучшит быстродействие страницы.
</p>
<p>
  Все стили страниц должны находится в едином файле. Исключением могут являться файлы со сбросом стилей <code>normalize.css</code> или <code>reset.css</code>. Такой файл может быть подключен отдельно, перед основным стилевым файлом.
</p>
