<h3>Размеры картинок</h3>
<p>
  Картинкам <code>&lt;img&gt;</code> нужно задать действительные размеры без указания единиц размерности. Это не будет заставлять браузер перерисовывать резметку в процессе загрузки и отображения картинки.
</p>
