<h4>Синтаксис</h4>
<ul>
  <li>Для отступов у вложенных элементов используйте два пробела. Для правильного форматирования используйте файл <a href="{{resolve 'editorconfig.zip'}}">.editorconfig</a> в вашем редакторе кода.</li>
  <li>Теги и их атрибуты пишите строчными буквами. Для значений атрибутов всегда используйте двойные кавычки.</li>
  <li>Не используйте необязательный закрывающий слеш у одиночных тегов (
    <code>&lt;img&gt;</code>,
    <code>&lt;br&gt;</code> и другие).</li>
  <li>Не пропускайте необязательные закрывающие теги (например,
    <code>&lt;/li&gt;</code> или
    <code>&lt;/body&gt;</code>).</li>
</ul>
