<h4>Подписи полей ввода</h4>
<p>
  Для улучшения взаимодействия пользователя с элементами форм, при нажатии на подпись поля, оно должно активироваться. Для этого элемент формы связывается  с его описанием с помощью идентификатора и атрибута <code>for</code> тега <code>&lt;label&gt;</code>.
</p>
