<h4>Размеры картинок</h4>
<p>
  Изображениям <code>&lt;img&gt;</code> нужно задавать размеры без указания единиц размерности. Это не будет заставлять браузер перерисовывать резметку в процессе загрузки и отображения изображения.
</p>
<p>
  По возможности указывайте действительные размеры изображений, так как это улучшает производительность отрисовки страницы.
</p>
