<h4>HTML5 doctype</h4>
<p>В начале страницы обязательно должен быть указан актуальный
  <code>doctype</code>, чтобы браузер отображал её в режиме соответствия стандартам. Это гарантирует, что страница будет выглядеть единообразно во всех современных браузерах.</p>
