<h4>Подключение JavaScript-файлов</h4>
<p>
  Скрипты нужно подключать в самом низу страницы, чтобы при её загрузке скрипты не блокировали содержимое страницы.
</p>
<p> При подключении JavaScript-файлов в теге
  <code>&lt;script&gt;</code> не обязательно указывать атрибут
  <code>type</code>, так его значение
  <code>text/javascript</code> указывается для JS-файлов по умолчанию.
</p>
