<h4>Подключение JavaScript-файлов</h4>
<p>
  Скрипты должны подключаться в самом низу страницы, чтобы при её загрузке не блокировать отображение содержимого.
</p>
<p> При подключении JavaScript-файлов в теге
  <code>&lt;script&gt;</code> атрибут
  <code>type</code> не указывается, так его значение
  <code>text/javascript</code> устанавливается для JS-файлов по умолчанию.
</p>
