<h4>Размеры картинок</h4>
<p>
  Изображениям <code>&lt;img&gt;</code> должны быть явно заданы размеры в пикселях или в процентах. В случае пикселей размерность не нужна.
</p>
<p>
  По возможности изображениям указываются действительные размеры, так как это улучшает производительность отрисовки страницы: браузер не будет перерисовывать страницу в процессе загрузки и отображения изображения.
</p>
