<h4>Синтаксис</h4>
<ul>
  <li>Для отступов у вложенных элементов используются два пробела. Для правильного форматирования используйте файл <a href="{{resolve 'editorconfig.zip'}}">.editorconfig</a> в вашем редакторе кода.</li>
  <li>Теги и их атрибуты пишутся строчными буквами. Для значений атрибутов всегда используются двойные кавычки.</li>
  <li>Необязательный закрывающий слеш у одиночных тегов (
    <code>&lt;img&gt;</code>,
    <code>&lt;br&gt;</code> и другие) не ставится.</li>
  <li>Необязательные закрывающие теги (например,
    <code>&lt;/li&gt;</code> или
    <code>&lt;/body&gt;</code>) не пропускаются.</li>
</ul>
