<h4>Подключение CSS-файлов</h4>
<p>
  Стилевые файлы с помощью <code>&lt;link&gt;</code> нужно подключать внутри <code>&lt;head&gt;</code>. При этом атрибут <code>type</code> для тега <code>&lt;link&gt;</code> указывать не нужно, так его значение <code>text/css</code> указывается для CSS-файлов по умолчанию.
</p>
