<h4>Порядок следования атрибутов</h4>
<p>
  Атрибут класса у HTML-элементов следует писать первым. Единообразное написание помогает легче считывать код и быстрее разбираться в назначении блоков по их классам.
</p>
<p>
  Остальные атрибуты можно расставлять в любом порядке, но тоже единообразно для одинаковых элементов.
</p>
