<h4>Варианты шрифта</h4>
<p>
  Указывайте альтернативные варианты шрифта и тип семейства в конце перечисления <code>font-family</code>.
</p>
<p>
  В случае использования нестандартных шрифтов aльтернативный веб-безопасный шрифт и тип семейства необходимо указывать для того, чтобы изменения внешнего вида шрифтов на странице были минимальны. Альтернативный шрифт должен быть такого же типа, что и нестандартный.
</p>

<p>Порядок шрифтов следующий: </p>
 <ol>
   <li>нестандартный шрифт;</li>
   <li>веб-безопасный;</li>
   <li>тип шрифта.</li>
 </ol>

<p>Список веб-безопасных шрифтов можно посмотреть здесь: <a href="http://www.cssfontstack.com/" target="_blank">http://www.cssfontstack.com/</a>.</p>
</p>
