<h4>Синтаксис</h4>
<ul>
  <li>После значения свойства обязательно ставится точка с запятой.</li>
  <li>Для отступов внутри правил используются два пробела. Для правильного форматирования используйте файл <a href="{{resolve 'editorconfig.zip'}}">.editorconfig</a> в вашем редакторе кода.</li>
  <li>Шестнадцатеричное значение цвета не сокращается, а пишется полностью из всех шести символов. Для записи используются строчные буквы. Например, <code>#f5f5f5</code>.</li>
  <li>Названия тегов и свойств в правилах пишутся строчными буквами.</li>
  <li>Начальный ноль для значений не сокращается (например, <code>.5</code> вместо <code>0.5</code>). С нулём значение проще считывается.</li>
  <li>Во всех случаях в CSS используются двойные кавычки, а не одинарные. В необязательных случаях кавычки не опускаются.</li>
  <li>После двоеточия в правилах ставится один пробел (<code>top:&nbsp;10px;</code>). А перед двоеточием пробел не нужен.</li>
  <li>После запятых внутри значений <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code> или <code>rect()</code> пробелы ставятся. Это повышает удобочитаемость.</li>
  <li>До и после комбинатора между селекторами (например, <code>p&nbsp;&gt;&nbsp;a</code>) ставится один пробел.</li>
  <li>Каждое объявление в правиле пишется на новой строке.</li>
  <li>Перед открывающейся фигурной скобкой ставится один пробел. После скобки запись идёт с новой строки:
<pre class="language-css"><code>.selector {
  color: #f5f5f5;
}
</code></pre></li>
  <li>Закрывающая фигурная скобка пишется на новой строке и без отступа.</li>
  <li>Единицы измерения не пишутся, там где в них нет необходимости. Например, <code>border:&nbsp;0</code>.</li>
  <li>Для автоматического применения этих правил используйте файл конфигурации <a href="{{resolve 'csscomb.zip'}}">.csscomb.json</a> для настройки CSScomb.</li>
</ul>
