<h4>Указание <code>vertical-align</code></h4>
<p>Подходящее значение <code>vertical-align</code> должно быть явно указано  для потоковых блоков с <code>display: inline-block</code>.</p>
<p>По умолчанию элементы <code>inline-block</code> имеют выравнивание <code>baseline</code>, которое может приводить к нежелательному позиционированию элементов, например, когда внутри них разное количество строк.</p>
<p>Поэтому таким элементам явно и осознанно задаётся выравнивание.</p>
<p>Например, если вы хотите, чтобы элементы вели себя как текст, для <code>vertical-align</code> должно быть явно указано значение <code>baseline</code>. Такое указание позволит другим понять, что вы знаете об особенностях поведения элементов с этим выравниванием и задали его намеренно.</p>
