<h4>Свойства с префиксами</h4>
<p>
При использовании свойства с вендорными префиксами, отступы для каждого свойства оставляются так, чтобы значения объявлений выстраивались в вертикальную линию. Это упрощает многострочное редактирование.
</p>
<p>
  В списке свойств с префиксами вариант без префикса указывается последним.
</p>
<p>
  По возможности работа с префиксами должна быть автоматизирована. Например, с помощью плагина <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>.
</p>
