<h4>Указание <code>vertical-align</code></h4>
<p>Значение <code>vertical-align</code> должно быть <i>явно</i> указано для блоков с <code>display: inline-block</code>.</p>
<p>Значение по умолчанию, <code>baseline</code>, может приводить к странному отображению блочно-строчных элементов. Например, когда в ряд стоят несколько элементов с разным количество строк.</p>
<p>Если вы хотите, чтобы элементы выравнивались по умолчанию, то явно укажите для <code>vertical-align</code> значение <code>baseline</code>. Это позволит другим понять, что вы знаете об особенностях отображения элементов с таким выравниванием и задали его намеренно.</p>
