<h4>Имена классов</h4>
<ul>
  <li>Имена классов пишутся строчными буквами, используется дефис (но не знаки нижнего подчеркивания или camelCase). Дефисы служат разделителями во взаимосвязанных классах (например, <code>.btn</code> и <code>.btn-danger</code>).</li>
  <li>Имена классов должны быть такими, чтобы по ним можно было быстро понять какому элементу страницы задан класс: избегайте сокращений (единственное исключение — <code>.btn</code> для кнопок), но не делайте их слишком длинными (более 3 слов).</li>
  <li>Для написания классов используются английские слова и термины. Транслитом названия классов и атрибутов не пишутся.</li>
</ul>
