<h4>Имена классов</h4>
<ul>
  <li>Имена классов пишутся строчными буквами, используется дефис (но не знаки нижнего подчеркивания или camelCase). Дефисы служат разделителями во взаимосвязанных классах (например, <code>.btn</code> и <code>.btn-danger</code>).</li>
  <li>Чрезмерных и произвольных сокращений не должно быть. Например, имя <code>.btn</code> подойдет для <code>button</code>, а по имени <code>.s</code> непонятно, что оно обозначает.</li>
  <li>Имена классов должны быть настолько короткие и ёмкие, насколько это возможно.</li>
  <li>Имена должны быть осмысленные: вместо презентационных даются структурные или содержательные названия.</li>
  <li>Для написания классов используются английские слова и термины. Транслитом названия классов и атрибутов не пишутся.</li>
</ul>
