<footer class="footer">
  <div class="contacts">
    <a class="logo-full" href="https://htmlacademy.ru">
      <img src="{{resolve 'logo-full.svg'}}" width="161" height="55" alt="HTML Academy">
    </a>
    <div class="soc-icons">
      <a class="icon icon-vk" href="#">
        Вконтакте
      </a>
      <a class="icon icon-fb" href="#">
        Facebook
      </a>
      <a class="icon icon-tw" href="#">
        Twitter
      </a>
      <a class="icon icon-ig" href="#">
        Instagram
      </a>
      <a class="icon icon-gh" href="#">
        GitHub
      </a>
    </div>
  </div>
</footer>
