<h4>Медиа-выражения</h4>
<p>
   Медиа-выражения помещаются рядом с соответствующими наборами правил, не объединяются в отдельную таблицу стилей и не группируются специально в конец файла. Медиа-выражения должно быть просто найти.
</p>
