<h4>Селекторы</h4>
  <p>Выбирайте селектором в точности те элементы, что нужно. Не полагайтесь на совпадение или случайность.</p>
  <p>Пишите такие селекторы, чтобы их можно было переиспользовать в дальнейшем. Не создавайте без необходимости цепочки селекторов или селекторы с излишней вложенностью — это увеличивает специфичность правил и уменьшает возможность их переиспользования.</p>
  <p>
    Также длинные цепочки вложенных селекторов усложняют код и его поддержку. Хорошим подходом считается использовать вложенность до 2 или 3 уровня. Псевдоэлементы или псевдоклассы не увеличивают уровень вложенности.
  </p>
  <p>Не используйте <code>id</code> для стилизации. Вместо идентификаторов для задания стилей используйте селекторы по классам или тегам.</p>
