<h4>Нормализация базовых стилей</h4>
<p>
  Для нормализации или сброса стилей используется <code>normalize.css</code> или <code>reset.css</code> (но не оба сразу). Один из файлов подключается отдельно перед основным файлом стилей.
</p>
