<h4>Нормализация базовых стилей</h4>
<p>
  Используйте <code>normalize.css</code> или <code>reset.css</code> (но не оба сразу). Подключайте один из них отдельным файлом перед основным файлом стилей.
</p>
