<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Стиль кода HTML Academy</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
  </head>
  <body>

    <main>
      <a href="https://github.com/htmlacademy/kit">
        <img src="{{resolve 'logo.png'}}" width="100" alt="">
      </a>

      <header>
        <h1>Стиль кода HTML Academy</h1>
      </header>
    </main>

    <script src="{{resolve 'app.js'}}"></script>

  </body>
</html>
