<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <title>Стиль кода HTML Academy</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
  </head>

  <body>
    <main>
      <header class="masthead">
        <a href="https://github.com/htmlacademy/kit">
          <img src="{{resolve 'logo.png'}}" width="100" alt="">
        </a>
        <h1>Стиль кода HTML Academy</h1>
      </header>

      <section class="chapter">
        <h2>HTML</h2>
        <article class="chapter-part">
          <div class="chapter-part-col">
            <h3>Заголовок статьи</h3>
            <p>Текст статьи</p>
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html-code}}</code></pre>
              <figcaption>Подпись под кодом</figcaption>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            <h3>Заголовок статьи 2</h3>
            <p>Текст статьи 2</p>
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html-code}}</code></pre>
              <figcaption>Подпись под кодом 2</figcaption>
            </figure>
          </div>
        </article>
      </section>

      <section class="chapter">
        <h2>CSS</h2>
        <article class="chapter-part">
          <div class="chapter-part-col">
            <h3>Заголовок статьи 3</h3>
            <p>Текст статьи 3</p>
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css-code}}</code></pre>
              <figcaption>Подпись под кодом 3</figcaption>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            <h3>Заголовок статьи 4</h3>
            <p>Текст статьи 4</p>
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css-code}}</code></pre>
              <figcaption>Подпись под кодом 4</figcaption>
            </figure>
          </div>
        </article>
      </section>

      <footer>

      </footer>
    </main>

    <script src="{{resolve 'app.js'}}"></script>

  </body>

</html>
