<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <title>Стиль кода HTML Academy</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
  </head>

  <body>
    <main>
      <header class="masthead">
        <a href="https://github.com/htmlacademy/kit">
          <img src="{{resolve 'logo.svg'}}" width="100" alt="">
        </a>
        <h1>Стиль кода HTML&nbsp;Academy</h1>
      </header>
      <section class="chapter">
        <h2>HTML</h2>
        <h3>Правила</h3>
{{> html/html-rules}}
        <h3>Рекомендации</h3>
{{> html/html-recomendations}}
      </section>
      <section class="chapter">
        <h2>CSS</h2>
        <h3>Правила</h3>
{{> css/css-rules}}
        <h3>Рекомендации</h3>
{{> css/css-recomendations}}
      </section>
      <footer>
      </footer>
    </main>
    <script src="{{resolve 'app.js'}}"></script>
  </body>

</html>
