<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <title>Стиль кода HTML Academy</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
  </head>

  <body>
    <main>
      <header class="masthead">
        <a href="https://github.com/htmlacademy/kit">
          <img src="{{resolve 'logo.svg'}}" width="100" alt="">
        </a>
        <h1>Стиль кода HTML&nbsp;Academy</h1>
      </header>
      <section class="chapter">
        <h2>HTML</h2>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-syntax}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-syntax-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-validator}}
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-doctype}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-doctype-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-semantics}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-semantics-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-encoding}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-encoding-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-minimal-markup}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-minimal-markup-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-css-count}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-css-count-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-style-includes}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-style-includes-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-js-includes}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-js-includes-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-protocol}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-protocol-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-attribute-order}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-attribute-order-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-boolean}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-boolean-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-form-labels}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-form-labels-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-form-buttons}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-form-buttons-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-img-sizes}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-img-sizes-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> html/html-language}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> html/examples/html-language-example}}</code></pre>
            </figure>
          </div>
        </article>
      </section>

      <section class="chapter">
        <h2>CSS</h2>
        <article class="chapter-part">
          <div class="chapter-part-col">
{{> css/css-syntax}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-syntax-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-order}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-order-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-import}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-markup">{{> css/examples/css-import-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-media-queries}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-media-queries-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-prefixes-syntax}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-prefixes-syntax-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-shorthand}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-shorthand-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-selector-depth}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-selector-depth-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-class-names}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-class-names-example}}</code></pre>
            </figure>
          </div>
        </article>
        <article class="chapter-part">
          <div class="chapter-part-col">
            {{> css/css-important}}
          </div>
          <div class="chapter-part-col">
            <figure>
              <pre><code class="language-css">{{> css/examples/css-important-example}}</code></pre>
            </figure>
          </div>
        </article>

      </section>
      <footer>
      </footer>
    </main>
    <script src="{{resolve 'app.js'}}"></script>
  </body>

</html>
